html {
	font-family: "sans-serif";
	font-size: 24pt;
}

.axes path,
.axes line {
    fill: none;
    stroke: black;
}

.axes text {
	font-size: 16px;
}

.axis-labels {
	font-size: 20px;
}

.year-select {
	-moz-box-shadow: 0px 3px 0px 0px #c1ccbe;
	-webkit-box-shadow: 0px 3px 0px 0px #c1ccbe;
	box-shadow: 0px 3px 0px 0px #c1ccbe;
	background-color:#44c767;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 2px 0px #2c332a;
}
.year-select:hover {
	background-color:#5cbf2a;
}
.year-select:active {
	position:relative;
	top:1px;
}
